<div class="col-lg-6 mx-auto">
<div id="tittle">

	<h1><p class="font-weight-bold">MAGICAN SCHOOL EDUCATION</p></h1>
	
</div>

	<div class="jumbotron">
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			 
			<button type="button" class="btn btn-block btn-lg btn-info" [routerLink]="['/slytherin']" [routerLinkActive]="['activado']">
				Slytherin
			</button>
		</div>
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			 
			<button type="button"  class="btn btn-block btn-lg btn-info" [routerLink]="['/gryffindor']" [routerLinkActive]="['activado']">
				Gryffindor
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
      <br><br><br>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			 
			<button type="button" class="btn btn-block btn-lg btn-info" [routerLink]="['/hufflepuff']" [routerLinkActive]="['activado']">
				Hufflepuff
			</button>
		</div>
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			 
			<button type="button" class="btn btn-block btn-lg btn-info" [routerLink]="['/ravenclaw']" [routerLinkActive]="['activado']">
				Ravenclaw
			</button>
		</div>
	</div>
</div>
</div>
</div>